@import 'base';

* {
    transition-duration: 0.5s;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

button {
    border: 1px solid;
    padding: 5px 15px;
    text-transform: uppercase;
    margin: 15px 5px;
    
    &.button-white {
        background-color: transparent;
        border-color: white;
        color: white;
        
        &:hover {
            background-color: white;
            color: $color_main;
        }
    }
}

body {
    font-family: $font_main;
}

.menu-toggle {
    display: inline-block;

    .bar {
        width: 30px;
        height: 3px;
        border-radius: 20px;
        background-color: $color_reverse;

        &:first-child, & + .bar {
            margin-bottom: 5px;
        }

        & + .bar {
            width: 20px;
        }

        &:last-child {
            width: 25px;
        }
    }

    &:hover .bar {
        width: 30px;    
    }
}

header {
    background-color: $color_main;
    color: $color_reverse;
    padding: 10px;
    position: relative;
    
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        padding: 10px;
        
        &:after {
            background-image: url('../img/processor_white.png');
            background-size: 25px 25px;
            display: inline-block;
            width: 25px; 
            height: 25px;
            content:"";
            margin-left: 30px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    & > nav {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 55%;
        transform: translate(-50%, -50%);
    }
}

.media-container {
    position: relative;
    height: 100%;
    
    .media-background {
        width: 100%;
        z-index: -1000;
    }
    
    .media-content {
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 1000;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        color: white;
    }
}